<!DOCTYPE html>
<html lang="en">
<head>
<title>Search Results</title>
<meta charset="utf-8">
    {% load static %}
<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/layout.css"%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/style.css"%}" type="text/css" media="all">
<script type="text/javascript" src="{% static "js/jquery-1.5.2.js"%}" ></script>
<script type="text/javascript" src="{% static "js/cufon-yui.js"%}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js"%}"></script>
<script type="text/javascript" src="{% static "js/Cabin_400.font.js"%}"></script>
<script type="text/javascript" src="{% static "js/tabs.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.jqtransform.js"%}" ></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js"%}"></script>
<script type="text/javascript" src="{% static "js/atooltip.jquery.js"%}"></script>
<script type="text/javascript" src="{% static "js/script.js"%}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<body id="page1">
<div class="main">
Welcome to Search results
</div>
</body>
</html>